# NextAuth
NEXTAUTH_URL=CHANGE_ME
NEXTAUTH_SECRET=CHANGE_ME
# Google Client
GOOGLE_CLIENT_ID=CHANGE_ME
GOOGLE_CLIENT_SECRET=CHANGE_ME
# Firebase (for DB and Auth)
FIREBASE_API_KEY=CHANGE_ME
FIREBASE_AUTH_DOMAIN=CHANGE_ME
FIREBASE_PROJECT_ID=CHANGE_ME
FIREBASE_MESSAGING_SENDER_ID=CHANGE_ME
FIREBASE_APP_ID=CHANGE_ME
# Cloudflare (for Bucket Storage)
CLOUDFLARE_BUCKET_NAME=CHANGE_ME
CLOUDFLARE_ACCOUNT_ID=CHANGE_ME
CLOUDFLARE_ACCESS_KEY_ID=CHANGE_ME
CLOUDFLARE_SECRET_ACCESS_KEY=CHANGE_ME
CLOUDFLARE_PUBLIC_URL=CHANGE_ME